Repository SaschaLucius/sveltekit-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --plugin-search-dir . --write ., prettier --check --plugin-search-dir=., eslint

Push
  .lintstagedrc
  README.md
  src/routes/tic-tac-toe/1-event-forwarding-and-slot/README.md
  src/routes/tic-tac-toe/2-event-forwarding-and-props/README.md
  src/routes/tic-tac-toe/7-simple-store/+page.svelte
  src/routes/tic-tac-toe/7-simple-store/README.md
  src/routes/tic-tac-toe/README.md
Due: prettier --plugin-search-dir . --write ., prettier --check --plugin-search-dir=., eslint

deploy: be41c52e1096839d6627575bed9bb5d11ebc2618
  _app/version.json
  counter/index.html
  forms/index.html
  index.html
  item-list/index.html
  lifecycle/index.html
  tic-tac-toe/0-plain/index.html
  tic-tac-toe/1-event-forwarding-and-slot/index.html
  tic-tac-toe/2-event-forwarding-and-props/index.html
  tic-tac-toe/3-component-binding/index.html
  tic-tac-toe/4-value-binding/index.html
  tic-tac-toe/5-function-props/index.html
  tic-tac-toe/6-context-api/index.html
  tic-tac-toe/7-simple-store/index.html
  tic-tac-toe/9-plain-with-button/index.html
  vite-manifest.json
Due: prettier --plugin-search-dir . --write ., prettier --check --plugin-search-dir=.

deploy: c5f6497477ba0158ba8e495f869fea356520970c
  _app/immutable/chunks/10-0e54c1f9.js
  _app/immutable/chunks/3-0b9f7187.js
  _app/immutable/modules/pages/about/_page.ts-89c0195c.js
  _app/immutable/modules/pages/sverdle/how-to-play/_page.ts-3ad43a47.js
  _app/immutable/start-ca613564.js
  _app/version.json
  counter/index.html
  forms/index.html
  index.html
  item-list/index.html
  lifecycle/index.html
  tic-tac-toe/0-plain/index.html
  tic-tac-toe/1-event-forwarding-and-slot/index.html
  tic-tac-toe/2-event-forwarding-and-props/index.html
  tic-tac-toe/3-component-binding/index.html
  tic-tac-toe/4-value-binding/index.html
  tic-tac-toe/5-function-props/index.html
  tic-tac-toe/6-context-api/index.html
  tic-tac-toe/7-simple-store/index.html
  tic-tac-toe/9-plain-with-button/index.html
  vite-manifest.json
Due: prettier --plugin-search-dir . --write ., prettier --check --plugin-search-dir=., eslint

deploy: 644a9221deeb4279c1e3125202c591581f18494d
  _app/immutable/start-ca613564.js
  _app/immutable/start-e233ab64.js
  _app/version.json
  counter/index.html
  forms/index.html
  index.html
  item-list/index.html
  lifecycle/index.html
  tic-tac-toe/0-plain/index.html
  tic-tac-toe/1-event-forwarding-and-slot/index.html
  tic-tac-toe/2-event-forwarding-and-props/index.html
  tic-tac-toe/3-component-binding/index.html
  tic-tac-toe/4-value-binding/index.html
  tic-tac-toe/5-function-props/index.html
  tic-tac-toe/6-context-api/index.html
  tic-tac-toe/7-simple-store/index.html
  tic-tac-toe/9-plain-with-button/index.html
  vite-manifest.json
Due: prettier --plugin-search-dir . --write ., prettier --check --plugin-search-dir=., eslint

deploy: e9ba6aba2512a6c2d2dbedf91ba8d6f66c6878ce
  _app/immutable/chunks/10-0e54c1f9.js
  _app/immutable/chunks/3-0b9f7187.js
  _app/immutable/modules/pages/about/_page.ts-89c0195c.js
  _app/immutable/modules/pages/sverdle/how-to-play/_page.ts-3ad43a47.js
  _app/immutable/start-e233ab64.js
  _app/version.json
  counter/index.html
  forms/index.html
  index.html
  item-list/index.html
  lifecycle/index.html
  tic-tac-toe/0-plain/index.html
  tic-tac-toe/1-event-forwarding-and-slot/index.html
  tic-tac-toe/2-event-forwarding-and-props/index.html
  tic-tac-toe/3-component-binding/index.html
  tic-tac-toe/4-value-binding/index.html
  tic-tac-toe/5-function-props/index.html
  tic-tac-toe/6-context-api/index.html
  tic-tac-toe/7-simple-store/index.html
  tic-tac-toe/9-plain-with-button/index.html
  vite-manifest.json
Due: prettier --plugin-search-dir . --write ., prettier --check --plugin-search-dir=., eslint

deploy: 47ce5c504217ae61c716365fce8a062651ec84ac
  _app/version.json
  counter/index.html
  forms/index.html
  index.html
  item-list/index.html
  lifecycle/index.html
  tic-tac-toe/0-plain/index.html
  tic-tac-toe/1-event-forwarding-and-slot/index.html
  tic-tac-toe/2-event-forwarding-and-props/index.html
  tic-tac-toe/3-component-binding/index.html
  tic-tac-toe/4-value-binding/index.html
  tic-tac-toe/5-function-props/index.html
  tic-tac-toe/6-context-api/index.html
  tic-tac-toe/7-simple-store/index.html
  tic-tac-toe/9-plain-with-button/index.html
  vite-manifest.json
Due: prettier --plugin-search-dir . --write ., prettier --check --plugin-search-dir=.

cleaunup
  .husky/pre-commit
  .lintstagedrc
  README.md
  package-lock.json
  package.json
  src/routes/+page.svelte
  src/routes/forms/+page.svelte
  src/routes/forms/README.md
Due: prettier --plugin-search-dir . --write ., prettier --check --plugin-search-dir=., eslint

Delete context.ts
  src/routes/tic-tac-toe/7-simple-store/context.ts
Due: prettier --plugin-search-dir . --write ., prettier --check --plugin-search-dir=., eslint

deploy: 7ee0f6dfe2cb2c95c27b1f81349276eead0de66f
  _app/immutable/chunks/10-0e54c1f9.js
  _app/immutable/chunks/2-5011155c.js
  _app/immutable/chunks/2-efc553c1.js
  _app/immutable/chunks/3-0b9f7187.js
  _app/immutable/chunks/6-3c71dd4d.js
  _app/immutable/chunks/6-4a9ff10c.js
  _app/immutable/components/pages/_page.svelte-1729c144.js
  _app/immutable/components/pages/_page.svelte-e7ef9329.js
  _app/immutable/components/pages/forms/_page.svelte-05733f1e.js
  _app/immutable/components/pages/forms/_page.svelte-7a21d76f.js
  _app/immutable/modules/pages/about/_page.ts-89c0195c.js
  _app/immutable/modules/pages/sverdle/how-to-play/_page.ts-3ad43a47.js
  _app/immutable/start-6a08e469.js
  _app/immutable/start-e233ab64.js
  _app/version.json
  counter/index.html
  forms/index.html
  index.html
  item-list/index.html
  lifecycle/index.html
  tic-tac-toe/0-plain/index.html
  tic-tac-toe/1-event-forwarding-and-slot/index.html
  tic-tac-toe/2-event-forwarding-and-props/index.html
  tic-tac-toe/3-component-binding/index.html
  tic-tac-toe/4-value-binding/index.html
  tic-tac-toe/5-function-props/index.html
  tic-tac-toe/6-context-api/index.html
  tic-tac-toe/7-simple-store/index.html
  tic-tac-toe/9-plain-with-button/index.html
  vite-manifest.json
Due: prettier --plugin-search-dir . --write ., prettier --check --plugin-search-dir=., eslint

deploy: f0d2e4c29f36b974b29a8a99c992588569db4976
  _app/version.json
  counter/index.html
  forms/index.html
  index.html
  item-list/index.html
  lifecycle/index.html
  tic-tac-toe/0-plain/index.html
  tic-tac-toe/1-event-forwarding-and-slot/index.html
  tic-tac-toe/2-event-forwarding-and-props/index.html
  tic-tac-toe/3-component-binding/index.html
  tic-tac-toe/4-value-binding/index.html
  tic-tac-toe/5-function-props/index.html
  tic-tac-toe/6-context-api/index.html
  tic-tac-toe/7-simple-store/index.html
  tic-tac-toe/9-plain-with-button/index.html
  vite-manifest.json
Due: prettier --plugin-search-dir . --write ., prettier --check --plugin-search-dir=.

deploy: a2775455d52fd2fa390de416142e5cdb09c5008b
  _app/version.json
  counter/index.html
  forms/index.html
  index.html
  item-list/index.html
  lifecycle/index.html
  tic-tac-toe/0-plain/index.html
  tic-tac-toe/1-event-forwarding-and-slot/index.html
  tic-tac-toe/2-event-forwarding-and-props/index.html
  tic-tac-toe/3-component-binding/index.html
  tic-tac-toe/4-value-binding/index.html
  tic-tac-toe/5-function-props/index.html
  tic-tac-toe/6-context-api/index.html
  tic-tac-toe/7-simple-store/index.html
  tic-tac-toe/9-plain-with-button/index.html
  vite-manifest.json
Due: prettier --plugin-search-dir . --write ., prettier --check --plugin-search-dir=.

use concrete versions
  package-lock.json
  package.json
Due: prettier --plugin-search-dir . --write ., prettier --check --plugin-search-dir=.

deploy: 40cb5c740f9aa0b849dd079024ee988ec7b77b18
  _app/immutable/chunks/11-22647fc4.js
  _app/immutable/chunks/3-45c000cc.js
  _app/immutable/modules/pages/about/_page.ts-89c0195c.js
  _app/immutable/modules/pages/sverdle/how-to-play/_page.ts-3ad43a47.js
  _app/immutable/start-8fb65bf9.js
  _app/version.json
  counter/index.html
  forms/index.html
  index.html
  item-list/index.html
  lifecycle/index.html
  pocketbase/index.html
  tic-tac-toe/0-plain/index.html
  tic-tac-toe/1-event-forwarding-and-slot/index.html
  tic-tac-toe/2-event-forwarding-and-props/index.html
  tic-tac-toe/3-component-binding/index.html
  tic-tac-toe/4-value-binding/index.html
  tic-tac-toe/5-function-props/index.html
  tic-tac-toe/6-context-api/index.html
  tic-tac-toe/7-simple-store/index.html
  tic-tac-toe/9-plain-with-button/index.html
  vite-manifest.json
Due: prettier --plugin-search-dir . --write ., prettier --check --plugin-search-dir=., eslint

deploy: dc2a172623153fda5b84b921f10b7bf87facc84f
  _app/version.json
  counter/index.html
  forms/index.html
  index.html
  item-list/index.html
  lifecycle/index.html
  pocketbase/index.html
  tic-tac-toe/0-plain/index.html
  tic-tac-toe/1-event-forwarding-and-slot/index.html
  tic-tac-toe/2-event-forwarding-and-props/index.html
  tic-tac-toe/3-component-binding/index.html
  tic-tac-toe/4-value-binding/index.html
  tic-tac-toe/5-function-props/index.html
  tic-tac-toe/6-context-api/index.html
  tic-tac-toe/7-simple-store/index.html
  tic-tac-toe/9-plain-with-button/index.html
  vite-manifest.json
Due: prettier --plugin-search-dir . --write ., prettier --check --plugin-search-dir=.

deploy: 17aa314f6d86c2e06eb46f6088d94b33145883e6
  _app/version.json
  counter/index.html
  forms/index.html
  index.html
  item-list/index.html
  lifecycle/index.html
  pocketbase/index.html
  tic-tac-toe/0-plain/index.html
  tic-tac-toe/1-event-forwarding-and-slot/index.html
  tic-tac-toe/2-event-forwarding-and-props/index.html
  tic-tac-toe/3-component-binding/index.html
  tic-tac-toe/4-value-binding/index.html
  tic-tac-toe/5-function-props/index.html
  tic-tac-toe/6-context-api/index.html
  tic-tac-toe/7-simple-store/index.html
  tic-tac-toe/9-plain-with-button/index.html
  vite-manifest.json
Due: prettier --plugin-search-dir . --write ., prettier --check --plugin-search-dir=.

deploy: c1a965d23ed0b930e6cb168abdc374d1e5246890
  _app/version.json
  counter/index.html
  forms/index.html
  index.html
  item-list/index.html
  lifecycle/index.html
  pocketbase/index.html
  tic-tac-toe/0-plain/index.html
  tic-tac-toe/1-event-forwarding-and-slot/index.html
  tic-tac-toe/2-event-forwarding-and-props/index.html
  tic-tac-toe/3-component-binding/index.html
  tic-tac-toe/4-value-binding/index.html
  tic-tac-toe/5-function-props/index.html
  tic-tac-toe/6-context-api/index.html
  tic-tac-toe/7-simple-store/index.html
  tic-tac-toe/9-plain-with-button/index.html
  vite-manifest.json
Due: prettier --plugin-search-dir . --write ., prettier --check --plugin-search-dir=.

add umami
  src/app.html
Due: none

Path conditions:
  prettier --plugin-search-dir . --write .: any of: *.{js,ts,svelte,css,md,json}
  prettier --check --plugin-search-dir=.: any of: *.{js,ts,svelte,css,md,json}
  eslint: any of: *.{js,ts,svelte}
